
h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 1600px;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
}

.line {
    margin-right: -6px;
    margin-left: -6px;
}

.column-s-1,
.column-xs-1,
.column-m-1,
.column-xm-1,
.column-l-1,
.column-xl-1,

.column-xs-2,
.column-xs-3,
.column-xs-4,
.column-xs-5,
.column-xs-6,
.column-xs-7,
.column-xs-8,
.column-xs-9,
.column-xs-10,
.column-xs-11,
.column-xs-12,
.column-xs-13,
.column-xs-14,
.column-xs-15,
.column-xs-16,
.column-xs-17,
.column-xs-18,
.column-xs-19,
.column-xs-20,
.column-xs-21,
.column-xs-22,
.column-xs-23,
.column-xs-24 {
    position: relative;
    min-height: 1px;
    padding-right: 6px;
    padding-left: 6px;
    float: left;
}

.column-xs-1 {
    width: 4.16666666667%
}

.column-xs-2 {
    width: 8.33333333333%
}

.column-xs-3 {
    width: 12.5%
}

.column-xs-4 {
    width: 16.6666666667%
}

.column-xs-5 {
    width: 20.8333333333%
}

.column-xs-6 {
    width: 25%
}

.column-xs-7 {
    width: 29.1666666667%
}

.column-xs-8 {
    width: 33.3333333333%
}

.column-xs-9 {
    width: 37.5%
}

.column-xs-10 {
    width: 41.6666666667%
}

.column-xs-11 {
    width: 45.8333333333%
}

.column-xs-12 {
    width: 50%
}

.column-xs-13 {
    width: 54.1666666667%
}

.column-xs-14 {
    width: 58.3333333333%
}

.column-xs-15 {
    width: 62.5%
}

.column-xs-16 {
    width: 66.6666666667%
}

.column-xs-17 {
    width: 70.8333333333%
}

.column-xs-18 {
    width: 75%
}

.column-xs-19 {
    width: 79.1666666667%
}

.column-xs-20 {
    width: 83.3333333333%
}

.column-xs-21 {
    width: 87.5%
}

.column-xs-22 {
    width: 91.6666666667%
}

.column-xs-23 {
    width: 95.8333333333%
}

.column-xs-24 {
    width: 100%
}

